/* Migaku UI default: Noto Sans JP */
/* Imported from packages/ui/src/styles/scss/fonts/noto-sans-jp.scss. */

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-japanese-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-ext-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-japanese-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-ext-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-japanese-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-ext-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-900-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-japanese-900-normal.woff2') format('woff2');
}

@font-face {
  font-family: cardFont;
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url('/_noto-sans-jp-latin-ext-900-normal.woff2') format('woff2');
}
